<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <link rel="stylesheet" href="home.component.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>Welcome to FLEX</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Flex</a>
      <img src="assets/logo.png" href="home.html" href="app.component.html" class="logo">
      <div class="collapse navbar-collapse" id="mobile-nav">
  
      </div>
    </div>
  </nav>

  <!-- Landing -->
  <div class="landing">
    <div class="dark-overlay landing-inner text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="display-3 mb-4">BrilliantPro
            </h1>
            <p class="lead"> Best learning management system in the world</p>
            <hr />
            <a routerLink="/register" class="btn btn-lg btn-info mr-2">Sign Up</a>
            <a routerLink="/login"  routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-info mr-2">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>