<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


  <link rel="stylesheet" href="learner-dashboard.component.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>Welcome to DevConnector</title>
</head>

<body>
  <!-- Navbar (Signed in) -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/adminDashboard">BrilliantPro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mobile-nav">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink='/adminDashboard' [state]="{ id:1 , name:token}">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img class="rounded-circle" style="width: 25px;margin-right:5px" src="https://www.gravatar.com/avatar/anything?s=200&d=mm"
                alt="" title="You must have a Gravatar connected to your email to display an image" /> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Dashboard -->
  <div class="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Dashboard</h1>
          <p class="lead text-muted">Welcome User</p>
          <!-- Dashboard Actions -->
          <div class="btn-group mb-4" role="group">
            <button  (click)="toggleform()" class="btn btn-light">
              <i class="fas fa-user-circle text-info mr-1"></i>My Courses</button>
            </div>
          <div  class="container">
            <h2 style="margin-left: 45%;">All Courses</h2>
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                  </tr>
                </thead>
                <tbody *ngFor="let course of Courses">
                  <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.instructor}}</td>
                    <td><button class="btn-primary" (click)="enrollCourse(course.id)">
                        Enroll Course
                      </button></td>
                  </tr>
                </tbody>
              </table>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="displayform" class="form" id="form">
    <form method="post" class="form1">
        <h2>Enroll Course</h2>
        <label class="b">Enrollment ID</label><br>
        <input type="text" name="enrollmentID" placeholder="Enrollment ID" id="enrollmentID" class="textbox" [(ngModel)]="enrollmentID" required><br>
        <label class="b">Course ID</label><br>
        <input type="text" name="courseID" placeholder="Course ID" id="courseID" class="textbox" [(ngModel)]="courseID" required><br>
        <label class="b">Username</label><br>
        <input type="text" name="Instructor" placeholder="Username" id="username" class="textbox" [(ngModel)]="username" required><br>
        
        <button class="btn" id="submitbtn" name="Submit" type="reset" (click)="enrolluser()">Submit</button>
        <button type="button" class="cancel" (click)="toggleform()">Close</button>
    </form>
  </div>
  <!-- Footer -->
  <footer class="bg-dark text-white mt-5 p-4 text-center">
    Copyright &copy; 2022 BrilliantPro
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
